<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body ng-app="flashCards">
        <div ng-include="'/templates/stats.html'"></div>
        <div ng-controller="NewCardController">
            <input name="question" ng-model="newCard.question">
            <select name="category">
                <option ng-repeat="category in categories" ng-model="newCard.category">{{ category }}</option>
            </select>
            <div>
                <label for="answer">Answer 1:</label>
                <input type="text" name="answer" ng-model="newCard.answers[0].text">
                <input type="checkbox" name="true" ng-model="newCard.answers[0].correct" value="correct"> Correct<br>
            </div>
            <div>
                <label for="answer">Answer 2:</label>
                <input type="text" name="answer" ng-model="newCard.answers[1].text">
                <input type="checkbox" name="true" ng-model="newCard.answers[1].correct" value="correct"> Correct<br>
            </div>
            <div>
                <label for="answer">Answer 3:</label>
                <input type="text" name="answer" ng-model="newCard.answers[2].text">
                <input type="checkbox" name="true" ng-model="newCard.answers[3].correct" value="correct"> Correct<br>
            </div>
            <pre>{{ newCard | json }}</pre>

        </div>
        <div ng-controller="MainController">

            <div style="display: inline-block">
                <button ng-click="getCategoryCards(category)" ng-repeat="category in categories" class="category-button" ng-class="{active: activeCat===category}">{{ category }}</button>
                <button ng-click="getCategoryCards()" class="category-button" >Reset</button>
            </div>
            <div></div>
            <loader style="text-align: center" ng-hide="flashCards"></loader>
        	<flash-card ng-repeat="flashCard in flashCards | orderBy : 'question'" card='flashCard'></flash-card>
        </div>
        
    	<script src="js/lib/angular.js"></script>
    	<script src="js/app.js"></script>
    	<script src="js/controller/main.controller.js"></script>
        <script src="js/controller/stats.controller.js"></script>
        <script src="js/controller/newCard.controller.js"></script>
        <script src="js/factories/flashcards.factory.js"></script>
        <script src="js/factories/score.factory.js"></script>
        <script src="js/filters/cheat.filter.js"></script>
        <script src="js/directives/loader/loader.js"></script>
        <script src="js/directives/flashcards/flashcards.js"></script>
        <script src="js/directives/border-on-hover.js"></script>
    </body>
</html>